[train]
epoch = 5
batch_size = 42
shuffle = True
valid_interval = 1
save_strategy = save_best

[test]
batch_size = 42
shuffle = False

[data]
reader_name = MavenReader
formatter_name = BertCrfFormatter
sequence_length = 128
BIO = True
BERT = True
pad_label_id = -100

[model]
model_name = Crf
num_layers = 1
hidden_size = 768
dropout = 0.3

[optimizer]
optimizer_name = Adam
lr = 1e-3
weight_decay = 1e-8